---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="404 | Tiny Village Spirit"
  css={['/styling/404.css']}
>
    <main>

        <div class="page-not-found">
            <h1 class="pnf-header">404</h1>
            <p class="pnf-text">Page Not Found</p>
            <a href="https://tinyvillagespirit.org" class="pnf-home-button">Return Home</a>
        </div>

    </main>
</BaseLayout>
