---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Contact | Tiny Village Spirit"
  description="Reach out to Tiny Village Spirit"
  ogTitle="Tiny Village Spirit"
  ogUrl="https://tinyvillagespirit.org/contact"
  ogDescription="Reach out to Tiny Village Spirit"
  keywords="Tiny Village Spirit, Contact, Tiny Village Spirit Contact, Tiny Village Spirit Contact Information, Tiny Village Spirit Contact Email, Tiny Village Spirit Contact Phone, Tiny Village Spirit Contact Address, Tiny Village Spirit Contact Form"
  css={['/styling/contact.css']}
  preloadImage="/media/about-splash-image.jpeg"
>
    <main>

        <div class="contact">
            <div class="contact-text">
                <h1>Contact Us</h1>
                <p>
                    We would love to hear from you! Please reach out to us with any questions, comments, or concerns.
                </p>
                <div class="contact-options">
                    <div class="contact-option">
                        <h2>Email:</h2>
                        <p>
                            <a href="mailto:tinyvillagespirit@gmail.com" class="contact-link">tinyvillagespirit@gmail.com</a>
                        </p>
                    </div>

                    <div class="contact-option">
                        <h2>Phone:</h2>
                        <p>
                            <a href="tel:510-282-0396" class="contact-link">510-282-0396</a>
                        </p>
                    </div>

                    <div class="contact-option">
                        <h2>Mailing:</h2>
                        <span class="contact-address">
                            Attn. Sally Hindman<br>
                            Tiny Village Spirit<br>
                            3129 Ellis Street<br>
                            Berkeley, CA 94703
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </main>
</BaseLayout>
