---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Volunteer | Tiny Village Spirit"
  description="Discover opportunities to volunteer with Tiny Village Spirit."
  ogUrl="https://tinyvillagespirit.org/volunteer"
  css={['/styling/about.css', '/styling/volunteer.css']}
  preloadImage="/media/about-splash-image.jpeg"
>
<main>

    <div class="splash">
        <img src="/media/about-splash-image.jpeg" alt="About Image" class="splash-image" />
        <div class="splash-text">
            <h1>Volunteer</h1>
        </div>
    </div>

    <div class="volunteer-container">
        <p class="volunteer-text">
            Tiny Village Spirit is a volunteer-run organization. We are always looking for volunteers to help us with our projects.
            If you are interested in volunteering with us, please fill out the form below and we will reach out to you with volunteer opportunities.
        </p>
    </div>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSecZghr5Mhw86wGWSfGoU5ToU33o7GU3KOykkkkoIrOxO4dzg/viewform?embedded=true" width="100%" height="974" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</main>
</BaseLayout>
