<nav id="topnav" class="topnav">
    <a href="/" class="logo-wrapper">
        <img src="/media/logo-transparent.png" alt="Tiny Village Spirit Logo" class="logo">
        <div class="logo-text">
            <span class="logo-name">Tiny Village Spirit</span>
        </div>
    </a>
    <div class="dropdown">
        <a href="/about" class="topnav-item">About</a>
        <div class="dropdown-content">
            <a href="/about">About Us</a>
            <a href="/about/partners">Partners</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/projects" class="topnav-item">Projects</a>
        <div class="dropdown-content">
            <a href="/projects/richmond">Richmond Village</a>
            <a href="/projects/directory">Directory</a>
            <a href="/projects/blueprint">Village Blueprint</a>
        </div>
    </div>
    <a href="/volunteer" class="topnav-item">Volunteer</a>
    <a href="/news" class="topnav-item">News</a>
    <a href="https://www.gofundme.com/f/richmond-tiny-house-village-farm-and-garden"
       class="topnav-item donate-btn"
       target="_blank"><i class="fa fa-heart"></i><span>Donate</span></a>
    <a href="javascript:void(0);" id="menu" onclick="responsiveNav()">☰</a>
</nav>
