---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Tiny Village Blueprint | Tiny Village Spirit"
  description="Use our blueprint for organizing your own tiny house village made in collaboration with Latitude High School."
  ogTitle="Tiny Village Blueprint | Tiny Village Spirit"
  ogUrl="https://tinyvillagespirit.org/projects/blueprint"
  ogDescription="Use our blueprint for organizing your own tiny house village made in collaboration with Latitude High School."
  keywords="Tiny Village Spirit, Tiny House Village, Tiny Village Blueprint, Tiny House Blueprint, Latitude High School, Blueprint for Tiny Village"
  css={['/styling/projects/project-template.css']}
  preloadImage="/media/projects-splash-image.jpeg"
>
    <main>

        <div class="splash">
            <img src="/media/project-splash-4.jpg" alt="About Image" class="splash-image" />
            <div class="splash-text">
                <h1>Tiny Village Blueprint</h1>
            </div>
        </div>

        <div class="project">
            <div class="project-text">
                <img src="/media/project-image-4.png" alt="Project Image 2" class="project-image" />
                <p class="project-description">We have partnered with Latitude High School to develop materials that will encourage schools NGO's and other grassroots groups to build tiny house villages with and for unhoused people.<br><br>
                    The site contains resources for village planning in the classroom, navigating district and county policy, building momentum through the media, community outreach, and more.
                </p>
            </div>
            <a target="_blank" href="https://sustainablesolutionswithtinyhomes.weebly.com/" class="project-link">Learn More</a>
        </div>

    </main>
</BaseLayout>
