---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Tiny House Village Directory | Tiny Village Spirit"
  description="Learn more about Tiny House Villages located all around the United States."
  ogUrl="https://tinyvillagespirit.org/projects/directory"
  css={['/styling/projects/directory.css']}
  preloadImage="/media/splash-image-3.jpeg"
  showFooter={false}
>
<main>

    <div class="splash">
        <img src="/media/directory-splash.jpg" alt="About Image" class="splash-image" />
        <div class="splash-text">
            <h1>Tiny House Village Directory</h1>
        </div>
    </div>

    <div class="directory">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1eP08FGd9XY0JPib8UT2vZ41rRAF9xSY&ehbc=2E312F" class="map"></iframe>
        <div class="about-directory">
            <h1 class="directory-header">National Directory of Tiny House Villages for the Unhoused</h1>
            <p class="directory-description">
                We have organized a national directory of tiny house villages with the goal of creating a network where:
                <ul>
                    <li>Village administrators can work together to better tackle organizational and operational issues.</li>
                    <li>Established villages will help organizers who are trying to get new projects completed.</li>
                    <li>Village constituents and volunteers can be mobilized for political action around housing policy.</li>
                </ul>
            </p>
        </div>
    </div>

</main>
</BaseLayout>
