---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Oakland Tiny House Empowerment Village | Tiny Village Spirit"
  description="Learn more about Tiny Village Spirit's Tiny House Empowerment Village in Oakland, CA."
  ogTitle="Oakland Tiny Village and Garden | Tiny Village Spirit"
  ogUrl="https://tinyvillagespirit.org/projects/oakland"
  ogDescription="Learn more about Tiny Village Spirit's Tiny Village and Garden Project in Oakland, CA."
  keywords="Tiny Village Spirit, Tiny House Village, Oakland, CA, Tiny House Village Oakland, Tiny House Village Project"
  css={['/styling/projects/project-template.css']}
  preloadImage="/media/projects-splash-image.jpeg"
>
    <main>

        <div class="splash">
            <img src="/media/project-splash-4.jpg" alt="About Image" class="splash-image" />
            <div class="splash-text">
                <h1>Oakland Tiny House Village</h1>
            </div>
        </div>

        <div class="project">
            <div class="project-text">
                <img src="/media/project-image-2.jpeg" alt="Project Image 2" class="project-image" />
                <p class="project-description">The team behind Tiny Village Spirit led the development of Youth Spirit Artwork's 22-unit Tiny House Empowerment Village, a project which engaged over 4,000 volunteers, fourteen schools, and twenty-eight businesses. <br><br>
                    Our model focuses on villages being deeply led by the constituents being served and village construction by community volunteers, bringing congregations, schools, businesses, and other partners together to find innovative solutions to the emergency shelter crisis. <br><br>
                    Harnessing art and creativity is fundamental to our efforts, as is constructing high quality, aesthetically beautiful spaces, beloved by residents. <br><br>
                    Address: <a href="https://maps.app.goo.gl/rYE4gkXh4NdQyHpi6" target="_blank">633C Hegenberger Rd, Oakland, CA 94621</a>
                </p>
            </div>
            <a target="_blank" href="https://youthspiritartworks.org/" class="project-link">The Tiny House Empowerment Village is run by Youth Spirit Artworks.</a>
        </div>

    </main>
</BaseLayout>
