---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Richmond Tiny Village and Garden | Tiny Village Spirit"
  description="Learn more about Tiny Village Spirit's Tiny Village and Garden Project in Richmond, CA."
  ogUrl="https://tinyvillagespirit.org/projects/richmond"
  css={['/styling/projects/project-template.css']}
  preloadImage="/media/projects-splash-image.jpeg"
>
<main>

    <div class="splash">
        <img src="/media/project-splash-4.jpg" alt="About Image" class="splash-image" />
        <div class="splash-text">
            <h1>Richmond Tiny Village and Garden Project</h1>
        </div>
    </div>

    <div class="project">
        <div class="project-text">
            <img src="/media/project-image-4.png" alt="Project Image 2" class="project-image" />
            <p class="project-description">Tiny Village Spirit is currently engaged in leading the creation of the Richmond Tiny House Village, Farm and Garden, a seven-agency collaboration doubling the number of dedicated emergency housing units serving young people, ages 18 to 24, in Richmond, CA. <br><br>
                We are increasing the number of emergency housing units serving Richmond youth from twelve to twenty-four, and in doing so also pave the way for more tiny house villages serving unsheltered people in Richmond and Contra Costa County. This project has a move-in goal of July 2026. <br><br>
                Volunteers are actively building on-site every week. Click <a href="/volunteer">here</a> to learn more about how you can get involved. <br><br>
                Address: <a href="https://maps.app.goo.gl/unMLnHvKZ5AGGk6U7" target="_blank">175 23rd Street, Richmond, CA 94804</a>
            </p>
        </div>
        <a target="_blank" href="https://www.facebook.com/groups/640023048324112/?ref=share&mibextid=NSMWBT" class="project-link">Join the Richmond Project Facebook Community</a>
        <a target="_blank" href="https://www.gofundme.com/f/richmond-tiny-house-village-farm-and-garden" class="project-link">Donate to the Richmond Project</a>
    </div>

    <div class="gallery">
        <h1 class="gallery-header">Gallery</h1>
        <div class="gallery-container">
            <img src="/media/painted-house-1.jpg" alt="Project Image 1" class="gallery-image" />
            <img src="/media/painted-house-2.jpg" alt="Project Image 2" class="gallery-image" />
            <img src="/media/uli-image-1.jpeg" alt="Project Image 3" class="gallery-image" />
            <img src="/media/uli-image-2.jpeg" alt="Project Image 4" class="gallery-image" />
            <img src="/media/uli-image-3.jpeg" alt="Project Image 5" class="gallery-image" />
            <img src="/media/uli-image-4.jpeg" alt="Project Image 6" class="gallery-image" />
        </div>
    </div>

</main>
</BaseLayout>
