@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

/* Splash */

.splash {
    position: relative;
    margin: auto;
}

.splash-image {
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
}

.splash-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .splash-text {
        font-size: 6vw;
    }
}

/* Main About Section */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 40px 0px 40px;
}

.about-headline {
    text-align: center;
}

.about-text:first-child {
    font-size: 20px;
    margin: 20px 60px 20px 0;
    padding: 0;
}

.about-text:last-child  {
    font-size: 20px;
    margin: 20px 0 20px 60px;
    padding: 0;
}

.about-image {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    padding: 0;
    margin: 20px 20px;
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
    }

    .about-text:first-child {
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }
    
    .about-text:last-child  {
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }

    .about-image {
        display: none;
    }
    
}

/* Team */

/* Team */
.team-header {
    text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 40px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 18px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    width: calc(25% - 20px); /* Account for gap */
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    min-height: 400px; /* Set a minimum height */
    position: relative; /* For absolute positioning of button */
}

.team-member-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.team-member-text h2 {
    text-align: center;
    margin: 15px 0 10px;
}

.team-member-text h3 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 15px;
}

.team-member-text p {
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    display: none;
}

.team-member-image {
    max-width: 200px;
    width: 100%;
    height: auto;
    padding: 0;
    align-self: center;
}

.team-member-button {
    margin: auto auto 0 auto;
    width: fit-content;
    background-color: #04747c;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .team-member {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .team {
        flex-direction: column;
        padding: 40px 20px;
    }

    .team-member {
        width: 100%;
        min-height: 350px;
    }
}