.header {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 20px 0;
}

.opportunities {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.opportunity {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 40px 0px 40px;
}

.opportunities > .opportunity {
    flex: 35%; 
    margin: 18px;
}

.opportunity-image {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    padding: 0;
    margin: 20px 20px;
}

.opportunity-link {
    background-color: #04747c;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: auto; 
}

.opportunity-text {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px 0;
    padding: 0;
}

.opportunity-header {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .opportunities {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
    }

    .opportunity-text {
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }

    .opportunity-image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 420px) {
    .header {
        font-size: 28px;
    }
    .opportunity-text {
        max-width: 90%;
    }
}

.more-info {
    text-align: center; 
    font-size: 24px; 
    margin: 40px 0 20px 0;
}